@model KeepSaving.Models.Account

@{
    ViewBag.Title = "Transactions";
}

<h2>Transactions in @Model.Name</h2>
<h3>Account Balance: $@Model.Balance</h3>

<div class="row">
    <div class="col-md-4 content" id="action">


    </div>
    <div class="col-md-8">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Date
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Reconciled
                    </th>
                    <th>
                        Updated By
                    </th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model.Transactions)
                    {
                        <tr>
                            <td>
                                Edit | <a href="#" class="deleteTransaction" id="@item.Id">Delete</a>
                            </td>
                            <td>
                                @item.Created.ToString("M/d/yy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @if(item.BudgetCategory == null)
                                {
                                   <span>Income</span>
                                }
                                else
                                {
                                  @Html.DisplayFor(modelItem => item.BudgetCategory.Name)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                <input type="checkbox" checked="@item.IsReconciled" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Author.FullName)
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on('change', '#TransactionType', function () {
                $("div#categories").toggle();
            });

            $('#action').load('@Url.Action("_AddTransaction", "Transactions", new { id = Model.Id })');

            function LoadPartialView(element, action) {
                $(document).on('click', element, function (evt) {
                    var $id = $(this).attr("id");
                    var $actionDIV = $('#action');
                    var $actionURL = '/transactions/' + action + '/' + $id;
                    var url = $(this).data($actionURL);
                    $actionDIV.empty();
                    $actionDIV.load($actionURL);
                })
            }

            LoadPartialView('.deleteTransaction', '_deletetransaction');

        });
    </script>
}